:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * {
    font: initial;
    margin: initial;
    padding: initial;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 80vh;
    margin: 5vh auto;
}

.hero,
.information,
.quote,
.call-to-action {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- HEADER ---------- */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    list-style-type: none;
    padding: none;
    display: flex;
    gap: 1em;
}

.header a {
    text-decoration: none;
    color: inherit;
}

/* ------- HERO ---------- */

.hero .wrapper {
    display: flex;
    gap: 1em;
}

.hero .description,
.hero img {
    flex: 1;
}

/* ------- INFORMATION ---------- */
.information h2 {
    text-align: center;
}

.cards-list {
    display: flex;
    gap: 1em;
}


.cards-list figure {
    display: flex;
    flex-direction: column;
}

.cards-list img {
    display: block;
    width: auto;
    height: 100px;
}

/* ------- CALL TO ACTION ---------- */

.call-to-action .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em; 
}


/* ------- FOOTER ---------- */



footer {
    text-align: center;
}


/* ------- STYLING ---------- */
:root {
    --extra-bold: 800;
    --dark-background: #1f2937;
    --button-color: #3882f6;
    --call-to-action-background: var(--button-color);
    --information-header-text: 36px extra-bold #1f2937;
    --quote-text: 36px light italic #1f2937;
}


.header,
.hero,
footer {
    background-color: var(--dark-background);
}

.header-logo {
    font-size: 24px;
    color: #F9faf8;
}

.hero .subtext,
.header ul {
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1 {
    font-size: 48px;
    font-weight: var(--extra-bold);
    color: #F9FAF8;
}

.hero img {
    background-color:  #6e6f70;
    color: white;
    text-align: center;
}


.information h2 {
    font-size: 36px;
    font-weight: var(--extra-bold);
    color: #1f2937;
    padding-bottom: 1em;
}

.information .img-container {
    background-color: white;
    border: solid var(--button-color) 3px;
    border-radius: 0.5em;
    height: 10vw;
    width: 10vw;
    color: #6e6f70;
    text-align: center;
}


.information .card {
    width: 10vw;

}

.information .cards-list {
    display: flex;
    justify-content: center;
}

.information figcaption {
    text-align: center;
    color: #6e6f70;
}



.quote {
    background-color: #e5e7eb;
}

.quote figure blockquote{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote figcaption {
    text-align: right;
    color: #1f2937;
    font-weight: bold;
}


button {
    background-color: var(--button-color);
    color: white;
    border-radius: .5em;
    padding: .25em;
    border: solid white 0.1px;
}

.call-to-action .wrapper {
    background-color: var(--button-color);
    border-radius: .5em;
    color: white;
}


footer {
    color: #F9faf8;
    padding: .5em;
}