body {
    /* border: solid red; */
    height: 100vh;

}
body * {
    font: initial;
    margin: initial;
    padding: initial;
    border: solid black 0.1px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    list-style-type: none;
    padding: none;
    display: flex;
    gap: 1em;

}

.wrapper {
    width: 50vh;
}

.top-pitch .wrapper {
    display: flex;
    gap: 1em;
}

.top-pitch .description,
.top-pitch img {
    flex: 1;
}

.cards-list {
    display: flex;
    gap: 1em;
}

.cards h2 {
    text-align: center;
}

.cards-list figure {
    display: flex;
    flex-direction: column;
}

.cards-list img {
    display: block;
    width: auto;
    height: 100px;
}


.quote figcaption {
    text-align: right;
}


.bottom-pitch .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em; 
}


.top-pitch,
.cards,
.quote,
.bottom-pitch {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.footer {
    text-align: center;
}



